body.noscroll {
  overflow: hidden;
}

.floater {
  position: fixed;
  top: 50%;
  right: 5px;
  transform: translate(-5px, -50%);
  border: none;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  display: flex;
  flex-direction: column;
  row-gap: 0.4em;
}

.whatsapp-floater,
.insta-floater {
  cursor: pointer;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0.3;
  transition: all 0.3s ease-in-out;

  &:hover {
    opacity: 1;
    transform: scale(1.1);
  }
}